.card-img {
  height: 225px;
  background-size: cover;
  background-position: center;
}

.user {
  color: white;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: auto;
}
