<header class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand " href="#">
    <img src="/assets/img/burger.png" width="30" height="30" class="d-inline-block align-top" alt="">
    WhereEat
  </a>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown show d-fle">
      <div class="profile-pic" [style.background-image]="'url(https://lh3.googleusercontent.com/ogw/ADGmqu9DMnk6XK-GaG_N4yOBg6guHOujbh7opWR-P9aa=s83-c-mo)'"></div>
      <a class="dropdown-toggle mr-md-2 nav-item nav-link" href="#" id="bd-versions" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Sebastian Mora
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="">Cerrar Sesión</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="">Perfil</a>
      </div>
    </li>
  </ul>
</header>
<main class="flex-shrink-0">
  <header class="container p-5">
    <div class="pt-md-3 pb-md-4">
      <h1>Donde Comer?</h1>
      <p class="bd-lead">Busca lugares para ir de cena o pedir a tu hogar, revisa los mejores puntuados en línea, busca información y califica.</p>
      <div class="d-flex flex-column flex-sm-row">
        <a href="" class="btn btn-primary py-2 px-3">Aprender más</a>
        <a href="" class="btn btn-outline-secondary py-2 px-3 mt-3 mt-sm-0 ml-sm-3">Ver los mejores</a>
      </div>
    </div>
  </header>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div *ngFor="let rest of restaurantList" class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card mb-4 shadow-sm">
              <div class="card-img" [style.background-image]="'url('+rest.urlPicture+')'"></div>
            </div>
            <div class="card-body">
              <h4>{{rest.name}}</h4>
              <p class="card-text">{{rest.location}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visitar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Guardar</button>
                </div>
                <small class="text-muted">&#11088; 5.4</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3">
  <div class="container">Soy el Footer</div>
</footer>
